<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />


  <style>
    .thisthat{
        background-color: floralwhite;
        padding: 20px;
    }
      table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
      }

      td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
      }

      tr:nth-child(even) {
          background-color: #dddddd;
      }

      h1 {
          color: rebeccapurple;
      }
  </style>
</head>
<body class="thisthat">
<h1>A user with CID No: <b> <%= @request_in_json['cid_no']%> </b> has requested for a status check.</h1>

<table>
  <tr>
    <th>collateral_id</th>
    <th>status</th>
    <th>result</th>
  </tr>
  <tr>
    <td><%= @request_in_json['collateral_id']%></td>
    <td><%= @request_in_json['status']%></td>
    <td><%= @request_in_json['result']%></td>
  </tr>
</table>
</p> CRST ©<%= Date.current.year %>. Powered by Gongphel Team </p>

<h1>E receipt: <%= @request_in_json['id']%></h1>
<p>Receipt idL </p>
<h4>Contact Info</h4>
<div>
  <p><b>Address: </b> Olakha, building number 25</p>
  <p><b>Email: </b> GongphelTeam@gmail.com</p>
  <p><b>Phone: </b> 555-555-555</p>
</div>

<table>
  <tr>
    <th>collateral_id</th>
    <th>Amount</th>
    <th>tax</th>
    <th>total</th>
  </tr>
  <tr>
    <td><b><%= @request_in_json['collateral_id']%></b></td>
    <td><b>100 Nu/-</b></td>
    <td><b>10 Nu/-</b></td>
    <td><b>110 Nu/-</b></td>
  </tr>

</table>
<h3>Track your application <a href="https://localhost:4200/track-application">here</a> </h3>

</body>
</html>

